<h2>World Traveller</h2>
<hr>

<ul class="list-group">
    <li routerLink="home" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
        {{ 'SIDEBAR.HOME' | translate}} 
    </li>
    <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
        About
    </li>
    <li routerLink="countries/capital"
    routerLinkActive="active"
    class="list-group-item">
        Por Capital
    </li>
    <li routerLink="countries/country"
    routerLinkActive="active"
    class="list-group-item">
        Por Nombre
    </li>
    <li routerLink="countries/region"
    routerLinkActive="active"
    class="list-group-item">
        Por Region
    </li>
</ul>