<h2>World Traveller</h2>
<img class="img-icon" src="../../../assets/icons/world-svgrepo-com.svg" alt="">
<hr>

<ul class="list-group">
    <li routerLink="home" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
        {{ 'SIDEBAR.HOME' | translate}} 
    </li>
    <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    {{ 'SIDEBAR.ABOUT' | translate}} 
    </li>
    <li routerLink="countries/capital"
    routerLinkActive="active"
    class="list-group-item">
    {{ 'SIDEBAR.BY_CAPITAL' | translate}} 
    </li>
    <li routerLink="countries/country"
    routerLinkActive="active"
    class="list-group-item">
    {{ 'SIDEBAR.BY_NAME' | translate}} 
    </li>
    <li routerLink="countries/region"
    routerLinkActive="active"
    class="list-group-item">
    {{ 'SIDEBAR.BY_REGION' | translate}} 
    </li>
</ul>