<div>
    <div class="row justify-content-center text-center">
        <div class="col">
            <p>{{ 'ABOUT.TITLE' | translate}}</p>
            <img class="img-icon" src="../../../assets/images/img1.jpg" alt="">
        </div>
        <div class="col">
    
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col mt-8">
            <p>{{ 'ABOUT.TEXT' | translate}}</p>
            <p>{{ 'ABOUT.TEXT2' | translate}}</p>
        </div>
    </div>
</div>