<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-title style="text-align: center;">Country Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="search-bar">
    <ion-input [(ngModel)]="searchTerm" (ionInput)="onSearch()" placeholder="Search"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let country of displayedCountries" [routerLink]="['/country', country.name.common]">
      <ion-label>
        {{ country.name.common }} ({{ country.capital }})
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
